@import "tailwindcss";
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm:576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1170px;
};
@utility container {
  margin-inline: auto;
}

/* -------------------------Navbar under */
.under::after{
content: '';
width: 0;
height: 1px;
position: absolute;
bottom: 15px;
left: 0;
background:black ;
transition: all linear .4s;

}
.under:hover::after{
  width: 100%;
}
.slick-dots .slick-active div{
  background: red;
  border: 2px solid white;
}